<p>Start editing to see some magic happen :)</p>
<!-- <input type="text" #AAA name="AAA" value="Noom" />
<input type="text" name="name" #myNameElem value="sasasas" />
{{ DataFromBackEnd | json }} -->

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="itemCode">รหัสสินค้า</label>
    <input
      type="text"
      id="message"
      name="message"
      #message
      class="example"
      formControlName="itemCode"
      dataName="fpercent"
      modepatch="y"
    />
  </div>
  <div>
    <label for="username">ชื่อสินค้า</label>
    <input
      type="text"
      id="message2"
      name="message2"
      formControlName="itemName"
      dataName="fpercent"
    />
  </div>
  <button type="submit">Submit</button>
</form>
<button type="button" (click)="setVar2()">Set ค่าใน Form</button>
{{ productForm.value | json }}

<div
  *ngIf="testMode"
  style="position:absolute;left:0px;bottom:0;width:100%;height:25px;background:lightgray;padding:5px;z-index:60000;font-size:12px"
>
  {{ Message }}
</div>

// HTML FORM
<!-- 
1.เปลี่ยนชื่อ fromGroup 
2.เพิ่ม Input ให้ครบ  
3.เชื่อมโยง Field ให้ตรงกับ sForm ใน ts
-->
